# Python
__pycache__/
*.py[cod]
*$py.class

# Entorno Virtual
venv/
env/

# Variables de Entorno
.env

# Archivos de Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs y Datos Locales (si se ejecutara localmente fuera de Documentos)
*.log
*.sqlite
*.db

# Carpetas de datos locales (ahora se guardan en Documentos)
data/
backups/
pdf/